
# Extremely important to NOT exclude these files, otherwise excluded in .gitignore
!android/
!ios/
!eas.json

builds/
build/
scripts/

docs/
distribute/
node_modules
.git
dist
build
coverage
.android
.ios
tmp
.log
.env*
build.log
eas.example.json
credentials.example.json
