// This xcode configuration is shared by each of the sample apps.

// The below settings are the minimal changes from a default xcode project configuration needed
// to embed the FaceTecSDK.framework into an app target.

// If the framework is not copied into the project SRCROOT, then the framework search path needs
// to be set appropriately to discover the path to the framework.  In this package, the
// framework lives in the parent directory of the apps.
// FRAMEWORK_SEARCH_PATHS is set appropriately to allow xcode to discover the FaceTecSDK.framework
FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../ $(inherited)

IPHONEOS_DEPLOYMENT_TARGET = 12.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*] = 12.0

// Use FaceTecSDKForDevelopment.xcframework only in iPhone Debug builds.
// Note: User script sandboxing must be disabled for this to work.
USE_FACETEC_DEVELOPMENT_FRAMEWORK[sdk=iphoneos*][config=Debug] = YES
ENABLE_USER_SCRIPT_SANDBOXING[config=Debug] = NO
